:root {
  --dark: #19283f;
  --green-color: #21c9cf;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
  height: 10000px;
}
.main-btn{
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding:0.5rem 1rem;
}
.main-btn:hover{
  background-color: var(--yellow-color);
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
 position:absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/*start Navbar*/
.navbar {
  background-color: var(--dark);
  border-bottom: 1px solid var(--green-color);
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.focus,
.navbar .navbar-nav .nav-link.hover {
  color: var(--green-color);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
}

.navbar .search svg {
  color: var(--green-color);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color:var(--green-color);

}

/*End Navbar*/
/*start Landing*/
.landing{
  background-color:var(--dark);
  min-height: calc(100vh - 72px);
}
/*end Landing*/

/*start Features*/
.features .icon-holder{
  height: 200px;
}
.features .icon-holder svg{
left:50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
 color: var(--yellow-color);
}
/*end Features*/

